<div class="apptitle text-center text-wrap fs-2 fw-bold"> Transcation ~ App</div>
<div class="loginguru d-flex flex-column justify-content-around ">
  <div class="loginguruu login btn btn-secondary p-2 border"><%= link_to 'LOG IN', new_user_session_url, method: :get %></div>
  <div class="loginguruu signup btn btn-secondary p-2 border"><%= link_to 'SIGN UP', new_user_registration_url, method: :get %></div>
</div>
