<div class="app_title text-center text-wrap fs-2 fw-bold">Hello, <br> Welcome to <br>Tufoins Transcation_App</div>
<div class="loginguru d-flex flex-column justify-content-around ">
  <div class="loginguruu login btn btn-primary p-2 border">Login</div>
  <div class="loginguruu signup btn btn-primary p-2 border">Sign Up</div>
</div>