<p style="color: green"><%= notice %></p>

<div class="text-end">
  <%= link_to "Add category", new_group_path, class: "btn btn-primary" %>
</div>
<h1 class="text-center text-primary">Categories</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <h2>
      <%= link_to "See categories", group %>
    </h2>
  <% end %>
</div>
