/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.loginguru {
  margin-top: 15rem;
  text-decoration: none;
}

.loginguru :hover {
  background-color: blue;
  color: #fff;
}

.loginguruu a :hover {
  background-color: blue;
  color: #fff;
  text-decoration: none;
}

.loginguruu a {
  box-shadow: wheat;
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.addcat {
  background-color: #5fb523;
  margin: 9rem 0rem;
  border: 2px solid white;
  padding: 1rem;
  color: #fff;
}

.addcat :hover {
  background-color: #3778c2;
}

.operation2 {
  border: 2px solid rgb(41, 38, 38);
  border-radius: 2px;
  margin-bottom: 1rem;
}

.operation3 {
  font-size: large;
  font-weight: bolder;
  padding: 2px;
}

.apptitle {
  padding-top: 9rem;
  font-family: serif;
}

.picc {
  width: 70px;
  height: 70px;
}

.piccc {
  width: 100px;
}

.group-icon {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}
