<div id="<%= dom_id operation %>">
  <div class="operation2">
    <p class = "operation3">
      <strong>Transaction Name:</strong>
      <%= operation.name %>
    </p>

    <p class = "operation3">
      <strong>Amount:</strong>
      <%= operation.amount %>
    </p>
  </div>
  
</div>
