<p style="color: green"><%= notice %></p>

<div class="text-end">
  <%= link_to "Create New Transaction", new_operation_path, class: "btn btn-primary" %>
</div>

<h1>Transactions</h1>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
    <p>
      <%= link_to "Show Available Transaction", operation %>
    </p>
  <% end %>
</div>
